pandas
numpy
opencv-python
Pillow
plotly
ultralytics
segment-anything
torch 
torchvision
shapely
scikit-image
supervision
streamlit-plotly-events
ultralytics
streamlit-folium
geopy
folium
geocoder
leafmap
streamlit-image-coordinates
requests
reportlab
kaleido
streamlit-webrtc
av
streamlit==1.31.1
streamlit-option-menu==0.3.13
streamlit-drawable-canvas==0.9.3